DATABASE_NAME=tourik
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=tourik
DATABASE_PASSWORD=tourik
PORT=8080
KAFKA_BROKER=kafka:9092
OUTBOX_KAFKA_TOPIC=tournament-events
OUTBOX_WORKER_PERIOD=5s
OUTBOX_BATCH_SIZE=100